<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.demo.mapper.SysDepartmentMapper" >

     <!-- 插入部门数据 -->
    <insert id="insertDepartment" parameterType="com.demo.entity.SysDepartment">
     insert into sys_department(number,name,alias,english_name,english_alias,principal,deputy,display,superior,situation,transceiver
     ,department_id,department_number,description,circulation,create_time,update_time,area) 
     values(#{number},#{name},#{alias},#{english_name},#{english_alias},#{principal},#{deputy},#{display},#{superior}
     ,#{situation},#{transceiver},#{department_id},#{department_number},#{description},#{circulation},#{create_time}
     ,#{update_time},#{area})
    </insert>


   <!-- 插入部门领导 -->
   <insert id="insertDepartmentLeader" parameterType="com.demo.entity.SysDepartment">
   insert into sys_depart_leader(depart_id,user_id,create_time,update_time) values(#{depart_id},#{user_id},#{create_time},#{update_time})
   
   </insert>

<!-- 查询部门的顶级的名称和id -->
    <select id="selectDepartmentZero" resultType="com.demo.entity.SysDepartment">
        select * from sys_department where sys_department.superior is null
    
    </select>




<!-- 部门顶级通过递归查询它的下一级 -->

<select id="seleceLowerDepartment" parameterType="int" resultType="com.demo.entity.SysDepartment">
     select * from sys_department where sys_department.superior=#{id}
</select>



<!-- 查询部门的所有信息，通过部门名称查询 -->

<select id="selectDepartmentInformation" parameterType="String" resultType="com.demo.entity.SysDepartment">
select * from sys_department where sys_department.name=#{name}
</select>


<!-- 查询部门所有信息，通过部门id（不是主键）查找 -->
<select id="selectDepartmentInformationById" parameterType="String" resultType="com.demo.entity.SysDepartment">
select * from sys_department where sys_department.department_id=#{id}
</select>

<!-- 通过部门编号查询所有的信息 -->
<select id="selectDepartmentInformationByNumber" parameterType="String" resultType="com.demo.entity.SysDepartment">
select * from sys_department where sys_department.department_number=#{number}
</select>



<delete id="deleteDepartment" parameterType="int">
delete from sys_department where sys_department.id=#{id}

</delete>







</mapper>